epicsEnvSet("STREAM_PROTOCOL_PATH", "$(EPICS_BASE)/protocol:$(TOP):$(TOP)/protocol:$(TEMPLATE_TOP)/protocol")

dbLoadDatabase("{{ install_ioc_template_root_path }}/dbd/{{ install_ioc_executable }}.dbd")
{{ install_ioc_executable }}_registerRecordDeviceDriver(pdbbase)

# lakeshore331 specific commands

# ============================ BASE STREAM DEVICE CONFIGURATION ============================
# Configure all asyn port connections
{% if ioc.connections is defined %}
{% for connection in ioc.connections|dict2items %}
drvAsyn{{ connection.value.type }}PortConfigure("{{ connection.key }}", "{{ connection.value.connection }}")
{% if connection.value.serial_settings is defined %}
{% for serial_setting in connection.value.serial_settings %}
asynSetOption("{{ connection.key }}", 0, "{{ serial_setting }}", "{{ serial_settings[serial_setting] }}")
{% endfor %}
{% endif %}
{% if connection.value.output_eos is defined %}
asynOctetSetOutputEos("{{ connection.key }}", 0, "{{ connection.value.output_eos }}")
{% endif %}
{% if connection.value.input_eos is defined %}
asynOctetSetInputEos("{{ connection.key }}", 0, "{{ connection.value.input_eos }}")
{% endif %}
{% endfor %}
{% endif %}

# ============================ LAKESHORE 331 CONFIGURATION ============================
dbLoadTemplate("$(TOP)/db/lakeshore331.substitutions")
