#
# {{ ansible_managed }}
#
file "$(TOP)/db/cyberPDU.template"
{{"{"}}
pattern
{{"{"}}SYS, DEV, IP{{"}"}}
{{"{"}}"{{ ioc.environment.SYS }}", "{{ ioc.environment.DEV }}", "{{ ioc.environment.IP }}"{{"}"}}
{{"}"}}
