[Unit]
Description=Linkam serial PTY bridge via socat ({{ install_ioc_ioc_name }})
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/socat \
    PTY,link=/dev/linkam-pty-{{ install_ioc_ioc_name }},raw,echo=0,mode=0664,user={{ host_config.softioc_user }},group-late={{ host_config.softioc_group }} \
    TCP:{{ ioc.environment.MOXA_HOST }}:{{ ioc.environment.MOXA_PORT }},retry,interval=5,forever
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
