
< /epics/common/{{ inventory_hostname.split('.')[0] }}-netsetup.cmd

errlogInit(20000)

{% for envvar in install_ioc_merged_env|dict2items %}
{% set vars = {'install_ioc_expanded_envvar': envvar.value} %}
{% if "$(" in envvar.key %}
{% for macro in install_ioc_merged_env|dict2items %}
{{ macro.key }}
{% endfor %}
{% endif %}
epicsEnvSet("{{ envvar.key }}", "{{ vars.install_ioc_expanded_envvar }}")
{% endfor %}
