#!/bin/bash

{% for install_ioc_os_env_export in install_ioc_os_env_exports|dict2items %}
export {{ install_ioc_os_env_export.key }}="{{ install_ioc_os_env_export.value }}"
{% endfor %}

cd iocBoot && ./st.cmd
