
dbLoadDatabase("{{ install_ioc_template_root_path }}/dbd/{{ install_ioc_executable }}.dbd")
{{ install_ioc_executable }}_registerRecordDeviceDriver(pdbbase)

# omega_rtc specific commands
# streamdevice protocol file path
epicsEnvSet("STREAM_PROTOCOL_PATH", "{{ install_ioc_template_root_path }}/protocols")

# load record instances
{% for device in ioc.devices %}
  {% if device.COMM is defined and device.COMM == "RS-485" %}
    {% if device.CHAN is defined %}
      {% set chan = device.CHAN %}
    {% else %}
      {% set chan = "01" %}
    {% endif %}
  {% else %}
    {% set chan = "" %}
  {% endif %}

drvAsynIPPortConfigure("{{ device.PORT }}", "{{ device.HOST }}")
dbLoadRecords("{{ install_ioc_template_root_path }}/db/omegaCNi32_temp.db", "Sys={{ device.SYS }},Dev={{ device.DEV }},Chan={{ chan }},PORT={{ device.PORT }}")
dbLoadRecords("{{ install_ioc_template_root_path }}/db/asynRecord.db", "P={{ device.SYS }},R={{ device.DEV }}Asyn,PORT={{ device.PORT }},ADDR=0,IMAX=256,OMAX=256")
{% endfor %}

dbLoadRecords("$(TOP)/db/alarm.db", "SYS={{ ioc.environment.SYS }}")
