makeAutosaveFileFromDbInfo("$(TOP)/as/req/info_settings.req",  "autosaveFields")
makeAutosaveFileFromDbInfo("$(TOP)/as/req/info_positions.req", "autosaveFields_pass0")
create_monitor_set("info_settings.req",  10, "")
create_monitor_set("info_positions.req", 30, "")
