dbLoadDatabase("{{ install_ioc_template_root_path }}/dbd/{{ install_ioc_executable }}.dbd")
dbLoadDatabase("{{ install_ioc_template_root_path }}/dbd/{{ install_ioc_executable }}Subs.dbd")
{{ install_ioc_executable }}_registerRecordDeviceDriver(pdbbase)

dbLoadRecords("{{ install_ioc_template_root_path }}/db/ADC.db",         "P=$(IOCNAME), NO=$(UNIT)")
dbLoadRecords("{{ install_ioc_template_root_path }}/db/TP.db",          "P=$(IOCNAME), NO=$(UNIT), T=1")
dbLoadRecords("{{ install_ioc_template_root_path }}/db/TP.db",          "P=$(IOCNAME), NO=$(UNIT), T=2")
dbLoadRecords("{{ install_ioc_template_root_path }}/db/TP.db",          "P=$(IOCNAME), NO=$(UNIT), T=3")
dbLoadRecords("{{ install_ioc_template_root_path }}/db/Beam.db",        "P=$(IOCNAME), NO=$(UNIT)")
dbLoadRecords("{{ install_ioc_template_root_path }}/db/Tail2.db",       "P=$(IOCNAME), NO=$(UNIT)")
dbLoadRecords("{{ install_ioc_template_root_path }}/db/lstats.db",      "P=$(IOCNAME), NO=$(UNIT)")
dbLoadRecords("{{ install_ioc_template_root_path }}/db/control.db",     "P=$(IOCNAME), NO=$(UNIT)")
dbLoadRecords("{{ install_ioc_template_root_path }}/db/pulse_stats.db", "P=$(IOCNAME), NO=$(UNIT)")
dbLoadRecords("{{ install_ioc_template_root_path }}/db/eeprom.db",      "P=$(IOCNAME), NO=$(UNIT)")
dbLoadRecords("{{ install_ioc_template_root_path }}/db/adc_data.db",    "P=$(IOCNAME), NO=$(UNIT)")

var(PSCDebug, 1)

createPSC("PSCA", {{ ioc.environment.PSC_IP }}, {{ ioc.environment.PSC_PORT | default(3000) }}, 0)
setPSCSendBlockSize("PSCA", 70000, 70000)
