## Register all support components
dbLoadDatabase("{{ install_ioc_template_root_path }}/dbd/{{ install_ioc_executable }}.dbd")
{{ install_ioc_executable }}_registerRecordDeviceDriver(pdbbase)

# zebra specific commands
drvAsynIPPortConfigure("SERIAL_PORT","$(HOSTNAME):$(PORT)")
zebraConfig("ZEBRA", "SERIAL_PORT", 100000)
